.upcoming-examinations {
  font-family: Arial, sans-serif;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 2rem; 
  align-items: center;
}


.upcoming-examinations .header {
  text-align: left;
  border-right: 1px solid #e0e0e0; 
  padding-right: 1rem;
}

.upcoming-examinations .header h2 {
  color: #003366;
  font-size: 1.8rem;
  margin: 0;
}

.upcoming-examinations .header p {
  color: #666;
  font-size: 1rem;
  margin: 0.5rem 0 0;
}


.exams-grid {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.exam-card {
  text-align: center;
  display: flex;
  flex: 1;
}

.exam-card .icon img {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.exam-card h3 {
  color: #003366;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.exam-card p {
  color: #666;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.component{
  display: flex;
  flex-direction: column;
}



@media (max-width: 1024px) and (min-width: 768px) {
  .upcoming-examinations {
    grid-template-columns: 1fr; 
    text-align: center;
    justify-items: center;  
  }

  .header {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid #e0e0e0; 
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .exams-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .upcoming-examinations {
    grid-template-columns: 1fr; 
    text-align: center;
    justify-items: center;  
  }

  .header {
    border-right: none;
    padding-right: 0;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .exams-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 1rem;
  }

  .exam-card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;  
  }
}
