.slider-container {
  display: flex;
  flex-direction: row; 
  gap: 16px;         
  overflow-x: auto;   
  scrollbar-width: none; 
  padding: 16px;       
}

.slider-container::-webkit-scrollbar {
  display: none; 
}

.card {
  flex: 0 0 auto; 
  width: 350px;   
  height: 200px;  
  background: #12406f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 20px;
}

.card-item{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
